<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<property name="DEV_HOME" value="C:/Users/pratik/Documents/logs" />
	
	<appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
		<file>${DEV_HOME}/debug.log</file>
		
		<append>true</append>
		<encoder>
			<pattern>%d [%thread] %-5level  %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>
	
	<logger name="org.springframework.jdbc" level="trace"/>
	
	<root level="INFO">
		<appender-ref ref="fileAppender" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>